<div class="container-fluid" ng-controller="home" id="container">
    <h1>Yangs Antiques</h1>

<p>
    古雅斋。  您身边的古董艺术，梦想从这里起航。华夏艺术，源远流长，扬华夏文化之魅力，藏华夏宝，登古雅斋。古雅斋源于杨先生业余二十多年的专研，对中国古董艺术的收藏，
    再也不是买了压床底，而是将收藏赋予了更深厚的文化内涵，将中国文化在古雅斋有序传承。 藏品有珍惜天然和田玉饰，玉配，玉镯子。古钱币，
</p>

<p>
钧瓷，宋代“五大名窑”之一
脱胎于最卑微的泥土
经过烈火的淬炼
化身为最美的器物
自古就有“家财万贯不如钧瓷一片”的美誉。
</p>

<p>
1999年4月在香港的苏富比举办的中国文物艺术品拍卖会上，一件保存品相完好的明代成化斗彩鸡缸杯，拍出了2917万元港币的天价，成为当时中国古代瓷器在拍卖市场上的成交最高记录。
2014年4月8日，玫茵堂珍藏明成化斗彩鸡缸杯8日在香港苏富比重要中国瓷器及工艺品春拍上，以2.8124亿港元成交价刷新中国瓷器世界拍卖纪录，买家为上海收藏家刘益谦。
[3]2014年7月19日，刘益谦拎着一只拷克箱，把成交价超过2.8亿港元的明成化鸡缸杯从香港苏富比带回上海，经海关专用通道办完手续后，直接进入徐汇滨江的西岸艺术品保税仓库。
</p>


    <!-- <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"> </script> -->

    <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->

    <!-- <div class="container" ng-controller="CarouselCtrl"> -->
    <!-- <slide ng-repeat="slide in slides" active="slide.active"> -->
    <!-- interval = {{myInterval}} -->
    <!-- <div class="container"> -->

    <div class="offsetspan6">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <!-- image with circle indicator -->
                <!-- <img class="image-circle" ng-src="{{slide.image}}" style="margin:auto;" /> -->
                <img ng-src="{{slide.image}}" style="margin:auto;" />

                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>

    <br>
    <p>
斗彩鸡缸杯是明代成化皇帝下令景德镇为万贵妃烧制的御用酒杯。万贵妃比成化大17岁。          
成化斗彩鸡缸杯是汉族传统陶瓷中的艺术珍品，属于明代成化皇帝的御用酒杯。是在直径约八厘米的撇口卧足碗外壁上，先用青花细线淡描出纹饰的轮廓线后，
上釉入窑经1300度左右的高温烧成胎体，再用红、绿、黄等色填满预留的青花纹饰中二次入窑低温焙烧。外壁以牡丹湖石和兰草湖石将画面分成两组，
一组绘雄鸡昂首傲视，一雌鸡与一小鸡在啄食一蜈蚣，另有两只小鸡玩逐。另一组绘一雄鸡引颈啼鸣，一雌鸡与三小鸡啄食一蜈蚣，画面形象生动，情趣盎然！
</p>

</div>

<!-- <div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="img/images1.jpg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="img/images2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="img/images3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> -->
<!-- <br> -->

<!-- <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
